*, html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}